# Python cache files
__pycache__/
*.py[cod]
*.pyo
*.pyd

# SQLite database files
*.sqlite3

# Log files
*.log

# Python environment files
.env
.venv/
venv/
env/
ENV/
env.bak/
venv.bak/

# Docker files (this file should not be ignored)
Dockerfile

# VS Code settings
.vscode/

# Ignore virtual environments
web_server/lib/

# Git-related files
.git
.gitignore
