{% extends "base.html" %} {% block title %}專案架構圖{% endblock %} {% block
content %}
<div class="section-container">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="section-container-spacer text-center">
          <h1 class="h2">專案架構圖</h1>
        </div>

        <div class="row">
          <div class="col-md-10 col-md-offset-1">
                <h3>溫濕度儀表板專案架構圖</h3>
                  <img
                    src="../static/assets/images/temp.jpg"
                    class="img-responsive"
                    alt=""
                  />
                  <hr />
                <h3>居家燈光調控架構圖</h3>
                  <img
                    src="../static/assets/images/lights.jpg"
                    class="img-responsive"
                    alt=""
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %} {% block footer %}
<footer class="footer-container text-center">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <p>本專案只用於Demo用途</p>
      </div>
    </div>
  </div>
</footer>
{% endblock %}
