{% extends "base.html" %} {% block title %}Home - Sui WEBSITE{% endblock %} {%
block content %}
<div
  class="hero-full-container background-image-container white-text-container"
  style="background-image: url('./static/assets/images/space.jpg')"
>
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="hero-full-wrapper">
          <div class="text-content">
            <h1>
              Hello,<br />
              <span id="typed-strings">
                <span>I'm Sui / Fang-Cheng YU</span>
                <span>Python Developer</span>
                <span>Working as an freelancer</span>
              </span>
              <span id="typed"></span>
            </h1>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
